/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --page-font-family: 'IBM Plex mono', monospace;
  --header-title-color: #DB00FF;
  --button-color: #FF0070;
  --button-color-hover: rgb(255 0 112 / 0.4);
  --menu-color: #FF0070;
  --accent-color: #FF0070;
  --decor-color: #FF0070;
  --header-color: #000028;
  --text-color: #F1B2CE;
  --rec-visability: visible;
  --cover-image: url(../images/cover-image-dark.png);
  --page-color: #000028;
  --focus-color: #F1B2CE;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
