/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
    --page-font-family: 'IBM Plex mono', monospace;
    --header-title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --button-color: #353430;
    --menu-color: #353430;
    --button-color-hover: rgb(53 52 48 / 0.4);
    --decor-color: #353430;
    --header-color: #353430;
    --text-color: #353430;
    --rec-visability: hidden;
    --cover-image: url(../images/cover-image-light.png);
    --page-color: #fff1f7;
  }

@media (prefers-color-scheme: light) {
  :root {
    --page-font-family: 'IBM Plex mono', monospace;
    --header-title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --button-color: #353430;
    --menu-color: #353430;
    --button-color-hover: rgb(53 52 48 / 0.4);
    --decor-color: #353430;
    --header-color: #353430;
    --text-color: #353430;
    --rec-visability: hidden;
    --cover-image: url(../images/cover-image-light.png);
    --page-color: #fff1f7;
    }
  }
  

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
