/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--cover-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--page-color);
  line-height: 23.4px;
  font-size: 18px;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  min-block-size: 100vh;
  padding-inline: 10px;
  margin-block-end: 40px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-block-start: 1px solid var(--decor-color);
  border-inline-end: 1px solid var(--decor-color);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-block-end: 1px solid var(--decor-color);
  border-inline-start: 1px solid var(--decor-color);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inline-size: 25px;
  block-size: 25px;
}

.rec {
  position: absolute;
  visibility: var(--rec-visability, visible);
  display: flex;
  align-items: center;
  gap: 10px;
  inset-inline-end: 20px;
  inset-block-start: 10px;
}

.rec::before {
  content: "REC";
  color: var(--accent-color, #ff0070);
  line-height: 24px;
}

.rec::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);
  background: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  justify-self: end;
  margin-block-start: 75px;
  margin-block-end: 65px;
  color: var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 12px;
  text-transform: lowercase;
}

.header__title {
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 96px;
  margin-block-end: 55px;
}

.header__description {
  color: var(--header-color);
  font-weight: 700;
  margin-block-end: 66px;
}

.section__title {
  color: var(--decor-color);
  margin-block-end: 20px;
}

.title-decor {
  color: var(--header-color);
  background-color: var(--accent-color);
}

.section {
  display: grid;
  padding-inline: 10px;
  margin-block-end: 50px;
}

.section:last-of-type {
  margin-block-end: 40px;
}

.article {
  margin-block-end: 20px;
}

.article__title {
  color: var(--header-color);
  background-color: var(--accent-color);
  margin-block-end: 10px;
}

.article__title-advice {
  color: var(--header-color);
  margin-block-end: 10px;
  font-weight: 400;
}

h4:first-of-type {
  margin-block-start: 20px;
}

a {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.link:focus {
  outline: 0;
}

.link:focus-visible {
  outline: 1px solid var(--accent-color);
}

.gallery-list {
  display: grid;
  gap: 10px;
}

.gallery-list__item-img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  place-content: center;
  block-size: 100vh;
  padding-inline: 10px;
}

.footer__title {
  color: var(--header-title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 96px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-color-hover);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: var(--button-color);
}

@media (width >= 768px) {
  .header__theme-menu {
    margin-block-start: 192px;
    margin-block-end: 173px;
  }

  .header {
    padding-inline: 0;
    padding-inline-end: 20px;
  }

  .header__title {
    margin-block-end: 162px;
  }

  .header__description {
    margin-block-end: 183px;
    justify-self: end;
    inline-size: 364px;
    margin-inline-end: 20px;
  }

  .rec {
    inset-inline-end: 30px;
    inset-block-start: 20px;
  }

  .section  {
    grid-template-columns: 1fr 472px;
    gap: 20px;
    padding-inline: 20px;
    margin-block-end: 80px;
  }

  .article__list-section-what {
    grid-column-start: span 2;
  }

  .section-gallery {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .section:last-of-type {
    margin-block-end: 60px;
  }

  .gallery-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery-list__item:first-child, .gallery-list__item:last-child {
    grid-column: span 2;
  }

  .gallery-list__item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery-list__item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    margin-block-start: 20px;
    margin-block-end: 273px;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    margin-block-end: 114px;
  }

  .header__description {
    inline-size: 491px;
    margin-block-end: 134px;
  }

  .section {
    grid-template-columns: 1fr 649px;
  }

  .article__list-section-what {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section-gallery {
    grid-template-columns: 1fr;
  }

}




